body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

#content {
  height: 100%;
  position: relative;
}

#iphone {
  height: 800px;
}

#container {
  z-index: 1000;
  float: left;
  position: absolute;
  width: 302px;
  height: 540px;
  left: 122px;
  top: 136px;
}

#tutorial-container {
  z-index: 1000;
  float: left;
  position: absolute;
  width: 302px;
  height: 540px;
  left: 122px;
  top: 136px;
  background-color: #5396DA;
  text-align: center;
}

#tutorial-footer {
  position: absolute;
  width: 272px;
  left: 0px;
  top: 490px;
  border-top: 1px solid #fff;
  padding: 15px;
  color: #fff;
  text-align: left;
}

#tutorial button {
  background-color: #fff;
  color: #5095DD;
}

#info {
  width: 80%;
  position: relative;
  margin: 0px auto;
  color: #fff;
  font-size: 20px;
}

#dots {
  float: right;
  padding-top: 5px;
  font-size: 10px;
  letter-spacing: 2px;
}

.tutorial-img {
  box-shadow: 0px 0px 20px #285786;
}

#nav {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #5697D8;
}

#nav h1 {
  margin: 0;
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: #FFF;
  padding-top: 16px;
}

#settings-icon {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

#back-icon {
  position: absolute;
  left: 8px;
  bottom: 8px;
}

#map {
  height: 320px;
  width: 100%;
}

#reviews-link {
  font-size: 12px;
  color: black;
}

#nearby-laundromats-heading{
	font-size: 30px;
	font-style: bold;
	text-align: center;
	padding: 10px;
	border-style: none none solid none;
	border-bottom-width: 1px;
	border-color: #5697D8; 
}

#nearby-laundromats{
	font-size: 20px;
	padding: 10px;
	border-style: none none solid none;
	border-bottom-width: 1px;
	border-color: #5697D8; 
}

#laundryname{
	text-align: left;
}

#distance{
	float: right;
}

.fa-star, .fa-star-o, .fa-star-half-o {
  color: #FFAB40;
}

button {
  margin-top: 10px;
  width: 200px;
  font-size: 16px;
  color: #FFF;
  background-color: #5697D8;
  border: none;
  outline: 0;
  padding: 10px 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

button:active {
  background-color: #4478ac;
}

#reviews {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  padding-top: 24px;
  clear: both;
}

#reviews li {
  padding: 0 10px;
  margin-bottom: 10px;
  background: #F5F5F5;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
}

#reviews li h3 {
  margin: 8px 0;
}

#reviews li h4 {
  margin: 8px 0;
  font-weight: normal;
  text-align: left;
}

#reviews li h4 i {
  float: right;
}

#rating {
  padding: 0 10px;
}

#rating h2 {
  margin-bottom: 4px;
}

#rating #stars {
  position: relative;
  top: 8px;
}

#rating button {
  float: right;
}

#star-ratings {
  text-align: center;
  font-size: 30px;
}

#write-container {
  padding: 0 10px;
}

#write-container .text-container {
  margin: 12px;
}

#write-container textarea
{
  width: 100%;
  margin: 0;
  padding: 5px;
  resize: none;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
  left: -5px;
  background: #F5F5F5;
}

.buttons {
  padding: 0 20px;
}

.buttons button {
  width: auto;
  padding: 10px 30px;
}

#write-container #cancel-review {
  float: left;
}

#write-container #submit-review {
  float: right;
}

#splash {
  text-align: center;
  width: 100;
}

#splash h1 {
  font-family: 'Poiret One', cursive;
  font-size: 45px;
  text-align: center;
  color: #5697D8;
  padding-top: 16px;
}

#tutorial h1 {
  font-family: 'Poiret One', cursive;
  font-size: 45px;
  text-align: center;
  color: #FFF;
  padding-top: 16px;
  margin-bottom: -20px;
}

#tutorial h2 {
  font-family: 'Poiret One', cursive;
  font-size: 14px;
  text-align: center;
  color: #FFF;
  padding-top: 16px;
}

#option {
  color: black;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
	border-color: blue;
}

#expiration {
  text-align: right;
  font-size: 15px;
}

#historydate {
  text-align: left;
  font-size: 15px;
}

#alignright {
  float: right;
}

#historyplace {
  text-align: right;
}

a {
    color: white;
    text-decoration: none;
}

#machine-map #legend {
  margin-bottom: 20px;
}

#machine-map #legend .machine {
  display: inline-block;
}

#machine-map #legend h3 {
  text-align: left;
  display: inline-block;
}

#machine-map h2 {
  text-align: center;
}

#machine-map h3 {
  text-align: center;
}

#machine-map span {
  margin-right: 12px;
}

.row {
  clear: both;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 2px;
}

.machine {
  width: 25px;
  height: 25px;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid black;
  margin-right: 3px;
}

.washer {
  border-radius: 12.5px;
}

.space {
  border: 1px solid white;
}

.available {
  background-color: #FFFFFF;
  border: 3px solid #5998D6;
}


.unavailable {
  background-color: #F1F1F1;
  border: 1px solid #D0D0D0;
}

.selected {
  background-color: #69DB69;
  border:3px solid #55CC55;
}
#cancel-reserve{
  float: left;
}

#reserve {
  float: right;
}

.account-form {
  text-align: center;
  padding: 10px;
}

.account-form input {
  width: 90%;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
}

.points {
  color: #FFAC30;
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}

.points-remaining {

}

#washer_settings_container{
  margin:0px;
  padding:0px;
  height: 185px;
  width: 100%;
}


#dryer_washer_title {
  text-align: center;
  color: #ffad33;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-size: 25px;
  margin:0px;
  padding:0px;
  padding-top: 10px;
}

.progress_0 {
  position: relative;
  left: 92px;
  top: 17px;
  margin: 0px;
  padding: 0px;
}

.progress_1 {
  position: relative;
  left: 25px;
  top: 17px;
  margin: 0px;
  padding: 0px;
}

.progress_2 {
  position: relative;
  left: 45px;
  top: 17px;
  margin: 0px;
  padding: 0px;
}
