body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

#content {
  height: 100%;
  position: relative;
}

#iphone {
  height: 800px;
}

#container {
  z-index: 1000;
  float: left;
  position: absolute;
  width: 302px;
  height: 540px;
  left: 122px;
  top: 136px;
}

#nav {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #5697D8;
}

#nav h1 {
  margin: 0;
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: #FFF;
  padding-top: 16px;
}

#settings-icon {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

#back-icon {
  position: absolute;
  left: 8px;
  bottom: 8px;
}

#map {
  height: 480px;
  width: 100%;
}

#reviews-link {
  font-size: 12px;
  color: black;
}

.fa-star, .fa-star-o, .fa-star-half-o {
  color: #FFAB40;
}

button {
  font-size: 20px;
  color: #FFF;
  background-color: #5697D8;
  border: none;
  outline: 0;
  padding: 4px 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

button:active {
  background-color: #4478ac;
}

#reviews {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  padding-top: 10px;
}

#reviews li {
  padding: 0 10px;
  margin-bottom: 10px;
  background: #F5F5F5;
  border: 1px solid #E0E0E0;
}

#reviews li h3 {
  margin: 8px 0;
}

#reviews li h4 {
  margin: 8px 0;
  font-weight: normal;
  text-align: left;
}

#reviews li h4 i {
  float: right;
}

#splash {
  text-align: center;
  width: 100;
}

#splash button {
  margin-top: 10px;
  width: 180px;
}

#splash h1 {
  font-family: 'Poiret One', cursive;
  font-size: 45px;
  text-align: center;
  color: #5697D8;
  padding-top: 16px;
}
