body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

#content {
  height: 100%;
  position: relative;
}

#iphone {
  height: 800px;
}

#container {
  z-index: 1000;
  float: left;
  position: absolute;
  width: 302px;
  height: 540px;
  left: 122px;
  top: 136px;
}

#nav {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #5697D8;
}

#nav h1 {
  margin: 0;
  font-family: 'Poiret One', cursive;
  text-align: center;
  color: #FFF;
  padding-top: 16px;
}

#settings-icon {
  position: absolute;
  right: 8px;
  bottom: 8px;
}

#back-icon {
  position: absolute;
  left: 8px;
  bottom: 8px;
}

#map {
  height: 480px;
  width: 100%;
}

#reviews-link {
  font-size: 12px;
  color: black;
}

.fa-star, .fa-star-o, .fa-star-half-o {
  color: #FFAB40;
}

button {
  margin-top: 10px;
  width: 200px;
  font-size: 16px;
  color: #FFF;
  background-color: #5697D8;
  border: none;
  outline: 0;
  padding: 10px 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

button:active {
  background-color: #4478ac;
}

#reviews {
  list-style: none;
  padding: 0 10px;
  margin: 0;
  padding-top: 24px;
  clear: both;
}

#reviews li {
  padding: 0 10px;
  margin-bottom: 10px;
  background: #F5F5F5;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
}

#reviews li h3 {
  margin: 8px 0;
}

#reviews li h4 {
  margin: 8px 0;
  font-weight: normal;
  text-align: left;
}

#reviews li h4 i {
  float: right;
}

#rating {
  padding: 0 10px;
}

#rating h2 {
  margin-bottom: 4px;
}

#rating #stars {
  position: relative;
  top: 8px;
}

#rating button {
  float: right;
}

#star-ratings {
  text-align: center;
  font-size: 30px;
}

#write-container {
  padding: 0 10px;
}

#write-container .text-container {
  margin: 12px;
}

#write-container textarea
{
  width: 100%;
  margin: 0;
  padding: 5px;
  resize: none;
  outline: none;
  border-radius: 4px;
  font-size: 16px;
  position: relative;
  left: -5px;
  background: #F5F5F5;
}

#write-container .buttons {
  padding: 0 20px;
}

#write-container #cancel-review {
  float: left;
}

#write-container #submit-review {
  float: right;
}

#splash {
  text-align: center;
  width: 100;
}

#splash h1 {
  font-family: 'Poiret One', cursive;
  font-size: 45px;
  text-align: center;
  color: #5697D8;
  padding-top: 16px;
}

#option {
  color: black;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
}

#expiration {
  text-align: right;
  font-size: 15px;
}

#historydate {
  text-align: left;
  font-size: 15px;
}

#alignright {
  float: right;
}

#historyplace {
  text-align: right;
}

a {
    color: white;
    text-decoration: none;
}

.account-form {
  text-align: center;
  padding: 10px;
}

.account-form input {
  width: 90%;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
}

.points {
  color: #FFAC30;
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}

.points-remaining {

}
